* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  outline: 0px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(/marvin-zettl-reoc0yCf67c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#p-welcom {
  text-align: center;
}
.login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 8px;
  color: #fff5ee;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 32px;
  corner-shape: ruond;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(/61HFZxArQUL.jpg);
  }
}

.welcom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
#label-name {
  text-align: start;
  font-style: normal;
  color: black;
  right: 32%;
  width: 80%;
}

#fname {
  width: 80%;
  background-color: #dad3d32d;
  backdrop-filter: blur(16px);
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  transition: all 200ms linear;
}

#label-pass {
  text-align: start;
  font-style: normal;
  color: black;
  width: 80%;
}
#pass {
  width: 100%;
  background-color: #dad3d32d;
  backdrop-filter: blur(16px);
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  transition: all 200ms linear;
}

#fname::placeholder,
#pass::placeholder {
  color: #fff5ee;
}

#fname:hover,
#pass:hover {
  transform: scale(1.03);
}

.eye-icon {
  position: relative;
  width: 80%;
  /* display: flex;
  align-items: center;
  justify-content: start; */
}

#icon-pass {
  background: none;
  position: absolute;
  top: 13px;
  right: 4px;
}

.rember-div {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  padding: 8px;
  margin: 8px;
}
#rember-me {
  color: #000;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff7a;
  width: 80%;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  transition: all 200ms linear;
}
.login-button:hover {
  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(8px);
  transform: scale(1.05);
}

#lock {
  padding-left: 2px;
  height: 15px;
  width: 15px;
  filter: brightness(10) contrast(1);
}

.toast.container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  animation: toastbox 4s forwards;
  min-width: 220px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.toast.success {
  background-color: rgba(0, 100, 0, 0.466);
}

.toast.error {
  background-color: #ff000053;
}

@keyframes toastbox {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}
