* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efe9e3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 40%;
  margin: 8px;
  padding: 8px;
  text-align: center;
}

main {
  width: 100%;
  height: 90dvh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.barez-tire {
  height: 350px;
  width: 265px;
  background-color: #5f83b9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  padding-right: 10px;
  border: 6px solid #4a70a9;
  border-radius: 8px 8px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
  transition: all 200ms linear;
}
.barez-tire:hover {
  border: #9ab7e4;
  background-color: #9ab7e4;
  backdrop-filter: blur(8px);
  transform: scale(1.05);
}
#barez-img {
  width: 250px;
  margin-bottom: 30px;
  margin-top: 8px;
  margin-left: 8px;
  border: 2px solid #5f83b9;
  border-radius: 16px;
}

#shop-basket-barez {
  background-color: #5f83b9;
  border: 4px solid #4a70a9;
  border-radius: 4px;
  
}

.Yazd-tire {
  height: 350px;
  width: 265px;
  background-color: #5f83b9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  padding-right: 10px;
  border: 6px solid #4a70a9;
  border-radius: 8px 8px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
  transition: all 200ms linear;
}
.Yazd-tire:hover {
  border: #9ab7e4;
  background-color: #9ab7e4;
  backdrop-filter: blur(8px);
  transform: scale(1.05);
}
#Yazd-img {
  width: 250px;
  margin-bottom: 30px;
  margin-top: 8px;
  margin-left: 8px;
  border: 2px solid #5f83b9;
  border-radius: 16px;
}

#shop-basket-yazed {
  background-color: #5f83b9;
  border: 4px solid #4a70a9;
  border-radius: 4px;
}
